<div class="fullscreen-bg"> 
  <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video"> 
    <source src="/assets/eve_cit.mp4" type="video/mp4"> 
  </video> 
</div> 

<div id="main-page">

	<%= form_for(:session, url: login_path) do |f| %>

		<%= f.search_field :username, placeholder: "Username", class: "login-text-field" %>

		<%= f.password_field :password , placeholder: "Password", class: "login-text-field" %>

		<%= f.submit "Log in", class: "login-button" %>
	<% end %>
	
</div>

<% if  flash[:danger] %>
	<div id="flash-danger">
		<%= flash[:danger] %>
	</div>
<% end %>