<h1>This <%= "#{@user.username}'s"%> edit page</h1>

<%= form_for @user do |f|%>

	<%= f.search_field :username, placeholder: "Username" %><br>
	<%= f.password_field :password, placeholder: "Password"%><br>

	<%= f.hidden_field :id, value: @user.id %><br>
	<%= f.submit "Save Changes"%>
<% end %>

<%= button_to("DELETE ACCOUNT", user_path(@user.id), method: :delete) %>