<div id="user-page-signup">
	<h2>Sign Up</h2>
	<%= form_for @user do |f| %>

		<%= f.search_field :username, placeholder: "Username" , class: "user-signup-txt"%>

		<%= f.password_field :password, placeholder: "Password", class: "user-signup-txt" %>

		<%= f.password_field :repassword, placeholder: "Retype Password", class: "user-signup-txt" %>

		<%= f.submit "Sign Up", id: "user-signup-btn" %>
	<% end %>
	<%= flash[:danger] %>
</div>
